@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  flex-direction: column;
}

.container {
  width: 1240px;
  max-width: 100%;
}

/****************************
  ------HEADER SECTION--------
  ****************************/

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

header .iconDiv {
  display: flex;
  align-items: center;
  gap: 7.71px;
}

.iconDiv img {
  width: 18.29px;
  height: 18.33px;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  gap: 48px;
  z-index: 1000;
}

.actionsDiv {
  display: flex;
  gap: 8px;
}

.actionsDiv button {
  width: 82px;
  height: 40px;
  padding: 10px 18px 10px 18px;
  border-radius: 6px;
}

.iconDiv h2 {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #25292c;
}

nav a {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #25292c;
}

.reg {
  width: 94px;
  height: 40px;
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #1576d6;
  background-color: transparent;
  color: #1576d6;
  font-weight: 500;
}

.sign {
  width: 94px;
  height: 40px;
  padding: 10px 18px;
  border-radius: 6px;
  border: 1px solid #1576d6;
  background-color: #1576d6;
  font-family: Barlow;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #fffffc;
  font-weight: 500;
}

.actionsDiv svg {
  display: none;
}

.banner-main {
  width: 100%;
}

.bg-banner {
  background-image: url("./images/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}
.bg-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004d;
  border-radius: 10px;
}

.bg-banner .text {
  width: 55%;
  color: #fffffc;
  font-weight: 600;
  text-align: center;
  z-index: 2;
}

.bg-banner .text h1 {
  font-family: Barlow;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: center;
  color: #fffffc;
}

.bg-banner .text p {
  font-family: Barlow;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fffffc;
}

/*---------------------------
Responsive Styles for header
---------------------------*/

@media (max-width: 992px) {
  header {
    display: flex;
    position: fixed;
    padding: 10px;
    z-index: 1000;
    border-radius: 0;
  }

  nav {
    display: none;
    border-radius: 0;
  }

  .bg-banner {
    background-image: url("./images/Rectangle\ 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    position: relative;
  }
  .bg-banner::before {
    border-radius: 0;
  }

  .actionsDiv button {
    display: none;
  }

  .actionsDiv svg {
    display: block;
  }

  .iconDiv h2 {
    font-size: 18px;
    color: #fffffc;
  }

  .bg-banner .text {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    gap: 20px;
    justify-content: flex-end;
    height: 100%;
    padding: 16px;
  }
  .bg-banner .text h1 {
    font-family: Barlow;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    color: #fffffc;
  }
  .bg-banner .text p {
    width: 76%;
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #fffffc;
  }

 
}
 @media (max-width: 420px) {
  .bg-banner {
    background-image: url("./images/Rectangle\ 2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    position: relative;
  }
}

/****************************
  ------BOOKING SECTION--------
  ****************************/

.input-with-icon {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  background-color: #f2f2f2;
}

.input-with-icon .icon {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-with-icon .icon svg {
  width: 20px;
  height: 20px;
  fill: #888;
}

.input-with-icon input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: #333;
  background-color: transparent;
}

.input-with-icon input::placeholder {
  max-width: fit-content;
  color: #000000;
  font-size: 16px;
}
.main-booking {
  display: flex;
  align-items: center;
  justify-content: center;
}

.booking-container {
  display: flex;
  justify-content: center;
  position: absolute;
}

.booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fffffc;
  box-shadow: 0px 4px 37px 0px #00000026;
  padding: 10px;
  border-radius: 10px;
  gap: 12px;
}

.btn-booking {
  background-color: #1576d6;
  font-family: Barlow;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #fffffc;
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 150ms ease-out;
}

.btn-booking:hover {
  background-color: #1363c5;
  color: white;
}

.w-btn-hfplus {
  width: 60%;
}

.w-btn-hf {
  width: 48%;
}

.w-btn-qr {
  width: 35%;
}

/*---------------------------
Responsive Styles for booking
---------------------------*/

@media (max-width: 992px) {
  .booking-container {
    position: static;
  }
  .booking {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: none;
  }
  .w-btn-thq,
  .w-btn-hfplus {
    width: 48%;
  }

  .btn-booking {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .booking {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .input-with-icon {
    width: calc(50% - 8px);
  }

  .btn-booking {
    width: 100%;
  }

  .w-btn-thq {
    flex-grow: 2;
  }

  .w-btn-hf, .w-btn-hfplus {
    flex-grow: 1;
  }
}




/* @media (max-width: 420px) {
  .booking-container {
    position: static;
  }
  .booking {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: none;
  }

  .w-btn-thq,
  .w-btn-hfplus {
    width: 42%;
  }

  .btn-booking {
    width: 100%;
  }

  .input-with-icon input::placeholder {
    font-size: .7rem;
  }

  .input-with-icon .icon svg {
    width: 15px;
    height: 15px;
    fill: #888;
  }
  
} */




.warning {
  margin-top: 50px;
}

.warning-container {
  width: 100%;
  height: 72px;
  background-color: #f4c123;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 19px;
  box-sizing: border-box;
}

.warning-container img {
  width: 24px;
  height: 24px;
}

.text-warning {
  flex: 1;


}

.warning-container p {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  color: #333333;
  margin: 0;
}

.warning-container span {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  color: #1576d6;
  cursor: pointer;
}




@media (max-width: 992px) {
  .warning {
    margin: 20px 10px;
  }
  
  .warning-container {
    min-height: 53px;
    padding: 12px 16px;
  }
  
  .warning-container p,
  .learn-more {
    font-size: 0.9375rem;
    line-height: 1.3;
  }
}

@media (max-width: 576px) {
  .warning {
    margin: 20px 10px;
  }
  
  .warning-container {
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 16px;
  }
  
  .warning-icon {
    width: 20px;
    height: 20px;
  }
  
  .warning-container p,
  .learn-more {
    font-size: 0.875rem;
  }
}
  

/****************************
  ------TESTIMONIAL SECTION--------
  ****************************/

.testimonal {
  margin-top: 50px;
}
.testimonal h1 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  color: #25292c;
}
.testimonal-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 15px;
  margin-top: 43px;
}

.testimonal-card {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}

.testimonal-card img {
  width: 50px;
}

.testimonal-content {
  margin-top: 27px;
}

.testimonal-content h2 {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  color: #25292c;
}

.testimonal-content p {
  font-family: Barlow;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: #25292c;
  max-width: 230px;
  margin-top: 14px;
}

/*---------------------------
Responsive Styles for testimonaling
---------------------------*/

@media (max-width: 992px) {
  .testimonal {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 20px 16px;
  }
  .testimonal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin-top: 16px;
  }

  .testimonal-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .testimonal-content p {
    text-align: center;
    margin-top: 24px;
  }
}

/****************************
  ------VACATION SECTION--------
  ****************************/

.vacation {
  margin-top: 60px;
}

.header-vacation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 610px;
}

.header-vacation h1 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  color: #25292c;
}

.header-vacation p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  color: #333333;
}

.vacation-containers {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-top: 30px;
}

.vacation-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vacation-image-container {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.vacation-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vacation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 14px;
  gap: 6px;
  font-family: Barlow;
}

.vacation-content h2 {
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #25292c;
}

.vacation-content p {
  font-family: Barlow;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.02em;
  color: #25292c;
}

/*---------------------------
Responsive Styles for vacation
---------------------------*/

@media (max-width: 992px) {
  .vacation {
    margin: 20px 16px;
  }

  .vacation-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .vacation-container {
    width: 100%;
  }
  .vacation-image-container {
    height: auto;
  }
}

/****************************
  ------TRIP SECTION--------
  ****************************/

.trip {
  margin-top: 60px;
}

.trip h1 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  color: #25292c;
}

.trip-containers {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-top: 24px;
}

.trip-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.trip-image-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 8px;
}

.trip-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trip-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Barlow;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

.trip-content h2 {
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fffffc;
}

.trip-content p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  color: #fffffc;
}

/*---------------------------
Responsive Styles for trip
---------------------------*/

@media (max-width: 992px) {
  .trip {
    margin: 20px 16px;
  }

  .trip-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .trip-container {
    width: 100%;
  }
  .trip-image-container {
    height: 280px;
  }

  .trip-content h2 {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #fffffc;
  }
  
  .trip-content p {
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    letter-spacing: 0.02em;
    color: #fffffc;
  }
  
}

/****************************
  ------HOTEL SECTION--------
  ****************************/

.hotel {
  margin-top: 60px;
}
.hotel h1 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  color: #25292c;
}
.hotel-containers {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-top: 24px;
}

.hotel-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hotel-image-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.hotel-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-content {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: Barlow;
  margin-top: 14px;
}

.hotel-content h2 {
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #25292c;
}

.hotel-content p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  color: #25292c;
}

/*---------------------------
Responsive Styles for trip
---------------------------*/

@media (max-width: 992px) {
  .hotel {
    margin: 20px 16px;
  }

  .hotel-containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .hotel-container {
    width: 100%;
  }
  .hotel-image-container {
    width: 100%;
    height: 350px;
  }
}

/****************************
  ------TRIP-RAOD-MAP SECTION--------
  ****************************/

.trip-road-map {
  margin-top: 60px;
  padding: 0 20px;
}

.header-road-map {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.header-road-map h1 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  color: #25292c;
}
.header-road-map a {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 400;
  line-height: 28.13px;
  text-decoration: none;
  color: #25292c;
}
.road-map-containers {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 450px;
  border-radius: 12px;
}

.left-section {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  border-radius: 12px;
}

.middle-section {
  flex: 2;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
}

.right-section {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  border-radius: 12px;
}

.left-container {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: calc((100% - 20px) / 2);
}

.left-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.middle-section {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  width: 50%;
  flex: 3;
}

.middle-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.rectangle-right-container {
  height: calc((100% - 20px) / 2);
  border-radius: 12px;
}

.rectangle-right-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.two-right-container {
  display: flex;
  gap: 20px;
  height: calc((100% - 20px) / 2);
  border-radius: 12px;
}

.c1-r-c {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
}

.c1-r-c:first-child {
  flex: 1;
}

.c1-r-c:last-child {
  flex: 1.8;
}

.c1-r-c img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.left-container,
.middle-section,
.rectangle-right-container,
.c1-r-c {
  position: relative;
  border-radius: 12px;
}

.left-container::before,
.middle-section::before,
.rectangle-right-container::before,
.c1-r-c::before {
  content: "";
  position: absolute;
  background: linear-gradient(180deg, rgba(5, 7, 60, 0) 0%, #05073c 100%);
  width: 100%;
  height: 100%;
  opacity: 50%;
  border-radius: 12px;
}

.left-container::after,
.middle-section::after,
.rectangle-right-container::after,
.c1-r-c::after {
  content: attr(data-title);
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fffffc;
  font-family: Barlow;
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/*---------------------------
Responsive Styles for trip-road-map
---------------------------*/
@media (max-width: 992px) {
  .road-map-containers {
    flex-direction: column-reverse;
    height: 100%;
  }

  .left-section {
    display: flex;
    flex-direction: row;
    height: 200px;
    gap: 20px;
    width: 100%;
  }

  .middle-section {
    width: 100%;
    aspect-ratio: 16/14;
  }

  .left-container {
    height: 200px;
  }

 
  .right-section {
    flex-direction: column-reverse;
  }

  .two-right-container {
    display: flex;
    gap: 20px;
    height: 200px;
  }

  .c1-r-c {
    height: 100%;
  } 
  .left-container:first-child {
    order: 1;
    flex: 1.5;
  }

  .left-container:last-child {
    order: 2;
    flex: 2;
  }


  .c1-r-c:first-child {
    order: 1;
    flex: 2;
  }

  .c1-r-c:last-child {
    order: 2;
    flex: 1.5;
  }

/* Reordering images */
.two-right-container .c1-r-c:last-child img {
  order: 2; /* Hiking (previously Food) */
}

.left-container:first-child img {
  order: 6; /* Cruises */
}

.rectangle-right-container img {
  order: 5; /* City Tours */
}

.middle-section img {
  order: 4; /* Beach Tours */
}

.two-right-container .c1-r-c:first-child img {
  order: 3; /* Food (previously Hiking) */
}

.left-container:last-child img {
  order: 2; /* Museum Tour */
}


  .header-road-map p {
    display: none;
  }

  .left-container::after,
.middle-section::after,
.rectangle-right-container::after,
.c1-r-c::after {
  font-family: Barlow;
  font-size: 20px;
}

.left-container img,
.middle-section img,
.rectangle-right-container img,
.c1-r-c img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

}
/****************************
  ------FOOTPRINT SECTION--------
  ****************************/

.footprint {
  margin-top: 60px;
}

.footprint-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 91px;
}

.footprint-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footprint-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footprint h1 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 45px;
  color: #25292c;
  text-transform: capitalize;
}
.footprint-content h2 {
  font-family: Barlow;
  font-size: 37.66px;
  font-weight: 700;
  line-height: 45.19px;

  color: #25292c;
}
.footprint-content p {
  font-family: Barlow;
  font-size: 14.65px;
  font-weight: 400;
  line-height: 17.58px;
  color: #25292c;
}

/*---------------------------
Responsive Styles for footprint
---------------------------*/
@media (max-width: 992px) {
  .footprint {
    text-align: center;
  }

  .footprint-containers {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 32px;
  }
}

/****************************
  ------ARTICLE SECTION--------
  ****************************/

.bg-container {
  background-image: url("./images/beach.jpeg");
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-container::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  opacity: 50%;
  border-radius: 8px;
}

.bg-container img {
  position: absolute;
  width: 719.71px;
  height: 407px;
  top: -37px;
  right: 0px;
  overflow: hidden;
  object-fit: cover;
  transform: rotate(-15deg);
}

.article-content {
  width: 100%;
  max-width: 580px;
  padding: 69px 64px;
  z-index: 1;
}
.article-content h2 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
  color: #fffffc;
}
.article-content button {
  width: 181px;
  height: 44px;
  padding: 12px 18px;
  border: none;
  background-color: #1576d6;
  gap: 10px;
  border-radius: 6px;
  font-family: Barlow;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;

  color: #fffffc;
  margin-top: 30px;
}

.article-content h2 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;

  color: #fffffc;
}

/*---------------------------
Responsive Styles for article
---------------------------*/

@media (max-width: 992px) {
  article {
    margin: 20px 16px;
  }

  .bg-container {
    width: 100%;
    height: 212px;
  }
  .bg-container img {
    display: none;
  }

  .article-content {
    padding: 12px;
  }

  .article-content h2 {
    font-family: Barlow;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}

/****************************
  ------FOOTER SECTION--------
  ****************************/

footer {
  margin-top: 60px;
  background-color: #fefcf1;
}

.full-width-footer {
  width: 100%;
}

.footer-header {
  font-family: Barlow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 80px;
}

.footer-header h1 {
  font-family: Barlow;
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #25292c;
}

.footer-header h2 {
  font-family: Barlow;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fffffc;
}

.footer-header p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: 0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1576d6;
}

.link .blue {
  color: #1576d6;
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 18px 50px;
}

.head-content {
  font-family: Barlow;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.head {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head h1 {
  font-family: Barlow;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.02em;
  color: #25292c;
}

.head-content p {
  font-family: Barlow;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.02em;
  margin-left: 28px;
  color: #6c757d;
}

.link-title {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.link {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.link h2 {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: 0.02em;
  color: #25292c;
}

.link a {
  text-decoration: none;
  font-family: Barlow;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: 0.02em;
  color: #6c757d;
}

.bottom-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background-color: #f6f3ef;
  height: 40px;
  padding: 20px 205px;
}

.bottom-footer p {
  font-family: Barlow;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #6c757d;
}

/*---------------------------
Responsive Styles for footer
---------------------------*/

@media (max-width: 992px) {
  .links {
    flex-direction: column;
    gap: 40px;
  }

  .bottom-footer {
    display: none;
  }
}
